http {
    listen 80;
    listen 443 ssl http2;
    server_name clia-server.foln.dev;

    ssl_certificate /etc/nginx/certs/live/clia-server.foln.dev/fullchain.pem; # Caminho para o certificado SSL
    ssl_certificate_key /etc/nginx/certs/live/clia-server.foln.dev/privkey.pem; # Caminho para a chave privada SSL

    # Segurança SSL/TLS - Recomendações Mozilla (https://mozilla.github.io/server-side-tls/ssl-config-generator/)
    ssl_protocols TLSv1.3 TLSv1.2;
    ssl_ciphers TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256:TLS_AES_128_CCM_8_SHA256:TLS_AES_128_CCM_SHA256;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 1d;
    ssl_dhparam /etc/ssl/certs/dhparam.pem; # Gere um arquivo dhparam.pem forte (openssl dhparam -out /etc/ssl/certs/dhparam.pem 2048)

    # Headers de Segurança
    add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
    add_header X-Frame-Options "DENY";
    add_header X-Content-Type-Options "nosniff";
    add_header X-XSS-Protection "1; mode=block";
    add_header Referrer-Policy "no-referrer-when-downgrade";
    add_header Feature-Policy "microphone 'none'; camera 'none'";

    # Redirecionamento HTTP para HTTPS
    server {
        listen 80;
        server_name clia-server.foln.dev www.clia-server.foln.dev;
        return 301 https://$host$request_uri;
    }

    location / {
        proxy_pass http://app:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}